# CODEOWNERS file
# See: https://docs.github.com/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners
*       @Zyonic88

# Workflows and security
.github/** @Zyonic88

# Docs
docs/**   @Zyonic88

# Frontend
frontend/** @Zyonic88
Aetherra/lyrixa/gui/** @Zyonic88
src/** @Zyonic88
Aetherra/** @Zyonic88
